<div class="text-center mt-3">
    <h2>Your matches - {{memberService.paginatedResult()?.pagination?.totalItems}} found</h2>
</div>

<div class="container mt-3">
    <form #form class="form-inline mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
        <div class="form-group">
            <label>Age from: </label>
            <input type="number" class="form-control ml-1" style="width: 70px;" name="minAge"
                [(ngModel)]="memberService.userParams().minAge">
        </div>

        <div class="form-group px-2">
            <label>Age to: </label>
            <input type="number" class="form-control ml-1" style="width: 70px;" name="maxAge"
                [(ngModel)]="memberService.userParams().maxAge">
        </div>

        <div class="form-group" style="padding-right: 16px;">
            <label>Show: </label>
            <select name="gender" style="width: 130px;" class="form-control ml-1" [(ngModel)]="memberService.userParams().gender">
                <option *ngFor="let gender of genderList" [value]="gender.value" style="color: black;">
                    {{gender.display}}
                </option>
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Apply Filters</button>
        <button (click)="resetFilters()" class="btn btn-info" style="margin-left: 8px;" type="submit">Reset Filters</button>

        <div class="btn-group float-right" style="margin-left: 20px;">
            <button class="btn btn-primary" type="button" name="orderBy" (click)="loadMembers()"
            btnRadio="lastActive" [(ngModel)]="memberService.userParams().orderBy">Last Active</button>

            <button class="btn btn-primary" type="button" name="orderBy" (click)="loadMembers()"
            btnRadio="created" [(ngModel)]="memberService.userParams().orderBy">Newest Members</button>
        </div>
    </form>
</div>


<div class="row">
    @for (member of memberService.paginatedResult()?.result; track member.id) {
        <div class="col-2">
            <app-member-card [member]="member"></app-member-card>
        </div>
    }
</div>
@if (memberService.paginatedResult()?.pagination) {
    <div class="d-flex justify-content-center">
        <pagination
            [boundaryLinks]="true"    
            [totalItems]="memberService.paginatedResult()?.pagination!.totalItems"
            [itemsPerPage]="memberService.paginatedResult()?.pagination!.itemsPerPage"
            [(ngModel)]="memberService.paginatedResult()?.pagination!.currentPage"
            (pageChanged)="pageChanged($event)"
            [maxSize]="10"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&lsaquo;"
            lastText="&rsaquo;">
        </pagination>
    </div>
}